h1 {
    
    text-align: center;
    font-family: 'Bree Serif', serif;

}

h2 {font-family: 'Bree Serif', serif;}

input[type="text"] {
    
    width:500px;
    
}

input[type="checkbox"] {
    
    display:inline-flex;
    text-align:center;
    width:20px;
    position:relative;
}

p {
    
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    padding-top: 10px;
    

}

form {text-align: center}



body {background-image:url(bookshelf.jpg)}

#lomake {
    
    border:2px black solid;
    border-radius:50px;
    background-color:rgba(255, 221, 159, 0.8);
    max-width:700px;
    margin:auto;
    position:relative;
    text-align:center;
    padding-bottom:50px;
    font-size:20px;
    

}

#nappi:hover {
    background-color: #4CAF50;
    color: white;
}

#nappi {
   
    width:100px;
    height:40px;
    font-size:20px;
    background-color:#333333;
    color:white;
    border-radius:15px;
    border:2px #333333 solid;
    position:relative;
    bottom:50px;
    
}


#intro {
   
    max-width:500px;
    border: 1px black solid;
    border-radius:80px;
    background-color:rgba(255, 221, 159, 0.9);
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (max-width: 799px) {
    
    #lomake {
        margin:50px;
    }
    #intro {
        margin:25px;
        padding:none;
    }
    #nappi {
        bottom:20px;
    }
}

@media only screen and (min-width: 800px) {
  
}
